<li style = "list-style-type: none; padding: 0px; margin: 0px;">
	<% if message.sender_id == @user.user_id %>
	<% end %>
	<b><%= message.sender_name %></b>
  	<div> : <%= message.sent_at.strftime("%H:%M") %> : </div>
  	<%= message.message %>
</li>