

<body>
	<% @endorsed_skills = Skill.where(user_id: @user.user_id).order(times_endorsed: :desc) %>
	
	<% @endorsed_skills.each do |t| %>
		<% @endorsers = Endorse.where(skill_id: t.skill_id).first(10)

		if @first
			@length = t.times_endorsed
			@first = false
		end
		%>

		<div class = "row" >
			<div class = "col-sm-1" style = "width: 10%">
				<%= t.label %>
			</div>

			<% @endorsers.each do |y| %>

				<div class = "col-sm-1" style = "padding: 0px; padding-bottom: 5px; width: 40px; text-align: center;">	
					<%  @p = Photo.find_by(:user_id=>y.endorser_id) %>
	                <% if !@p.nil? %>
	                  <%= image_tag @p.photo.url, :class => "pic", :style => "width: 30px; height: 30px;" %>
	                <% else %>
	                  <%= image_tag "prof.jpeg", :class => "pic", :style => "width: 30px; height: 30px;" %>
	                <% end %>
				</div>				
			<% end %>

			<div class = "col-sm-1" style = "padding: 0px; padding-top: 5px; text-align: center; width: 40px">				<% if t.times_endorsed > 10 %>
					 +<%= (t.times_endorsed -10) %>
				<% end %>
			</div>
		</div>

	<% end %>
</body>