


	<% @endorsed_skills = Skill.where(user_id: @owner).order(times_endorsed: :desc) %>
	
	<% @endorsed_skills.each do |t| %>
		<% @endorsers = Endorse.where(skill_id: t.skill_id).first(10)

		if @first
			@length = t.times_endorsed
			@first = false
		end
		%>

		<% if t.times_endorsed != 0 %>
			<div class = "row" style = "margin-top: 1em;">
				<div class = "col-sm-1" style = "width: 8em; margin-right: 1em; margin-left:1em; padding:0px; text-align: center; border-style: outset">
					<%= t.label %>
				</div>

				<% @endorsers.each do |y| %>				
					<div class = "col-sm-1" style = "width:40px; padding: 0px; padding-left 10px;">	
						<%  @p = Photo.find_by(:user_id=>y.endorser_id) %>
		                <% if !@p.nil? %>
		                  <%= image_tag @p.photo.url, :class => "pic", :style => "width: 30px; height: 30px;" %>
		                <% else %>
		                  <%= image_tag "prof.jpeg", :class => "pic", :style => "width: 30px; height: 30px;" %>
		                <% end %>
					</div>				
				<% end %>

				<div class = "col-sm-1">
					<% if t.times_endorsed > 10 %>
						 +<%= (t.times_endorsed) -10 %>
					<% end %>
				</div>
			</div>
		<% end %>
	<% end %>