<div class = 'row'>
  <div class = 'col-md-12'>
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active" style = 'width: 20%'>
        <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a>
      </li>
      <li role="presentation" style = 'width: 20%'>
        <a href="#personality" aria-controls="personality" role="tab" data-toggle="tab">personality</a>
      </li>
      <li role="presentation" style = 'width: 20%'>
        <a href="#experiences" aria-controls="experiences" role="tab" data-toggle="tab">experiences</a>
      </li>
      <li role="presentation" style = 'width: 20%'>
        <a href="#technology" aria-controls="technology" role="tab" data-toggle="tab">technology</a>
      </li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="profile">
        <%= render :partial => 'profile', :locals => {data: @profile} %>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="personality">
            This will be person content

      </div>
      <div role="tabpanel" class="tab-pane fade" id="experiences">
            This will be experience content

      </div>
      <div role="tabpanel" class="tab-pane fade" id="technology">
            This will be technology content

      </div>
    </div>
  </div>
</div>