<head>  
  <style type="text/css">

    #title{

      font-size: 2em;
      font-weight: bold;
      line-height: 1em
    }

    .pic{
      border-right:0em solid grey;
      padding-right: 3em;
      padding-bottom: 1em;

    }
    
    .change{
      background-color: #E6E6E6;
      height: 7em;
      border: none;
      resize: none;
    }

    .form{
      height: 100%;
    }

    .btnChange{
      background: none;
      border: none;
    }    

    #pic_fix{
      background-color: #428bca;
      border-color: #428bca;
      border-radius: 3px;
    }

  </style>

  <script type="text/javascript">

    $('#myTab a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})
    $('#myTab a[href="#exp"]').tab('show'); 
  </script>
</head>


<body>  
    <% if @user.user_id == @owner.user_id %>
        <% if @owner.employer? %>          
          <%= render :partial => 'shared/profile_viewing/owner_employer' %>
        <% else %>        
          <%= render :partial => 'shared/profile_viewing/owner_employee' %>
        <% end %>
    <% else %> <!-- The viewer is not the owner -->
        <% if @owner.employee? %>
            <%= render :partial => 'shared/profile_viewing/guest_employee' %>
        <% else %>
            Render guest employer page
        <% end %>
  <% end %>
</body>
